@CHARSET "UTF-8";
.center [class^="icon-"],.center [class*=" icon-"]{
	margin-right:3px;
}
.consoleCon {
	border: 1px solid #EEEEEE;
	margin-top: 5px;
	width:730px
}

.titlePanel {
	background: none repeat scroll 0 0 #EEEEEE;
	color: red;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.titleSquare {
	background: none repeat scroll 0 0 #CCCCFF;
	display: inline-block;
	margin: 10px;
	padding: 3px;
}

.intro.unstyled>li {
	border: 1px solid #EEEEEE;
	border-radius: 6px 6px 6px 6px;
	margin: 3px;
	padding: 5px 0;
	font-size: 14px;
	list-style:none;
}

.intro .name {
	display: inline-block;
	width: 150px;
	text-indent: 0.5em;
}

.intro .normal,.intro .unnormal,.intro .text {
	display: inline-block;
	width: 50px;
	vertical-align: middle;
}

.intro .normal {
	background: url(../img/normal.png) no-repeat scroll 0 0 transparent;
	height: 24px;
}

.intro .unnormal {
	background: url(../img/unnormal.png) no-repeat scroll 0 0 transparent;
	height: 24px;
}

.imgchart fieldset {
	border: dashed 1px #EEEEEE;
	margin-bottom: 20px;
}

.imgchart fieldset ul{
	padding-left:0;
}
.imgchart fieldset ul li {
	margin-left: 5px;
	float: left;
	list-style:none;
}

.imgchart fieldset ul li img {
	width: 690px;
	height:180px;
}

.imgchart fieldset legend {
	border: 1px solid;
	border-radius: 6px;
	padding: 2px;
	margin: 3px;
	font-size: 16px;
}

.serviceHome .servicesUl li {
	float: left;
	font-size: 12px;
	width: 320px;
	border: solid 1px #EEEEEE;
	border-radius: 6px;
	height: 130px;
	margin-bottom: 25px;
	margin-right: 25px;
	padding: 20px 25px;
}

.serviceHome .servicesUl li .title {
	font-weight: bold;
	font-size: 13px;
	color: #0066CC;
}

.serviceHome .servicesUl li .introduce {
	font-size: 12px;
}

.serviceHome .servicesUl li .usingRightNow {
	
}

.border-green,.border-green td {
	border: solid 1px green;
}

.border-green tr {
	
}

.downLoad li {
	text-indent: 2em;
	line-height: 30px;
}

table {
	font-size: 12px;
	margin-bottom: 0px;
}

.cloudContent .cloudLeft,.cloudContent .cloudRight {
	float: left;
}

.paneltitle,.cloudContent .cloudLeft p.title {
	color: #666;
	background: #f7f7ff;
	padding: 5px 10px;
	/**margin: 0px 10px 5px 10px;**/
	font-weight: bold;
	font-size: 15px;
	font-family: Arial, "微软雅黑", "黑体"
}

.cloudContent .cloudLeft p.content {
	padding: 0px 0px 5px;
	margin: 5px 10px;
	font-size: 13px;
}

.cloudContent .cloudLeft p.content a {
	display: block;
	border: 1px solid #eee;
	padding: 5px;
	margin: 0 0 5px 0
}

.second a.enterApp {
	float: right;
	font-size: 13px;
	margin-right: 10px;
	text-decoration: none;
	cursor: pointer;
}
.uafTop{
	border:solid 1px #EEEDDD;
}
.uafComponent p{
	font-weight:bold;
	color:#FAA732;
	font-size: 13px;
	margin-top: 10px;
}
.uafflow p{
   font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;	
}
.paasUl li{
	text-indent:2em;
	line-height: 30px;
}
.photoTag{
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}
.ddl_img tr th{
	background-color:#EEEEEE;
}
.ddl_img tr td{
	text-align:center;
}
.imgcluster p{
	text-align:center;
	border: 1px solid #DDDDDD;
}
.csp_img img{
	height:300px;
}
#loginSelect{
    border: 0 none;
    border-radius: 0 0 0 0;
    font-size: 12px;
    height: 25px;
    line-height: 20px;
    text-align: left;
    width: 120px;
    background-color:#F7F7F7;
}
.width1{
	width:10%;
}
.width2{
	width:20%;
}
.width3{
	width:30%;
}
.width4{
	width:40%;
}
.width5{
	width:50%;
}
.width6{
	width:60%;
}
.width7{
	width:70%;
}
.width8{
	width:80%;
}
.width9{
	width:40%;
}
#by Kevin
body.cos .container .portal,body.cos .container .center .pContent .itembox
	{
	position: relative;
	clear: both;
	background: #FAFAFA;
	padding: 10px;
	margin: 10px 20px 10px 20px;
	border: 1px solid #CBD3E1;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
	border-radius: 5px;
	font-size: 14px;
	overflow: auto;
	font-family: Arial, "微软雅黑", "黑体";
}

body.cos .container .portal,body.cos .container .center .pContent .h1class
	{
	font-size: 16px;
	line-height: 150%;
	padding: 0 0 6px 10px;
	color: #333;
	font-family: Arial, "微软雅黑", "黑体";
}

.btn-orange:hover {
	background-color: #ffa800;
	background-image: none;
	text-shadow: 0px -1px 0px #a26b00;
}

.btn:hover {
	text-decoration: none !important;
}

.btn-orange {
	color: #fff;
	background-color: #f60;
	background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ee7b00),
		color-stop(100%, #ff8a00));
	background-image: -webkit-linear-gradient(bottom, #ee7b00, #ff8a00);
	background-image: -moz-linear-gradient(bottom, #ee7b00, #ff8a00);
	background-image: -o-linear-gradient(bottom, #ee7b00, #ff8a00);
	background-image: linear-gradient(bottom, #ee7b00, #ff8a00);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee7b00',
		endColorstr='#ff8a00');
	text-shadow: 0px -1px 0px #b25f00;
	border: 0 solid;
}

.btn-large {
	padding: 0 20px;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}

.btn {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	font-family: Microsoft YaHei, verdana, Hiragino Sans GB;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	outline: none;
}

.read_h1,.read_h1 a {
	color: #0066CC;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 10px 5px;
	padding: 0;
}

h4.cateName {
	letter-spacing: 4px;
	margin-left: 10px;
}

.bottom {
	background: none repeat scroll 0 0 #F7F7F7;
	color: #000000;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 25px;
	text-align: center;
	width: 982px;
}

p.classifyTitle a {
	text-align: center;
}
